.image-grid{
  --gap:16px;
  --num-cols:4;
  --row-height:400px;

  box-sizing: border-box;
  /* padding doesnt increase the width of the container */
  padding: var(--gap);
  
  display: grid;
  grid-template-columns:repeat(var(--num-cols),1fr);
  /* 4 columns with equal width and repeat is like loop(repeats the same thing in other row) */
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  margin-top: 38px;
}
/* .mainimage{
  border: 1px solid black;
} */
.image-grid-col-2{
  grid-column: span 2;
  /*  takes space of two column */
} 


.image-grid-row-2{
  grid-row: span 2;
    /* takes space of two column */
} 

.image-grid img{
  width: 100%;
  height: 93%;
  object-fit: cover;
}
.image-grid-col-2 img{
  height: 96%;
  /*  takes space of two column */
} 
@media screen and (max-width:1024px){
  .image-grid{
    --num-cols:2;
    --row-height:200px;  
  }
}
@media screen and (max-width:480px){
  .image-grid img{
    height: 86%;
  }
  .image-grid-col-2 img{
    height: 92%;
    /*  takes space of two column */
  } 
}
.socialicon li{ 
  margin: 0rem 0.5rem 0rem 0rem;
}
.des{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background: black; */
  background: rgba(0,0,0,.5);
}